@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", system-ui, sans-serif;
  }
}

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.bg__purple {
  background: linear-gradient(-135deg, #611bdd 0%, #5e87eb 100%);
}

.bg__orange {
  background: linear-gradient(225deg, #fe7649 0%, #ff2938 100%);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.card-hover {
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: #fff;
  color: #454141;
  border-left: 2px solid #5e87eb;
}
.card-hover:hover {
  color: #fff;
}
.card-hover:hover:after {
  width: 100%;
}
.card-hover:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(-135deg, #611bdd 0%, #5e87eb 100%);
}

.employe-top img,
.employe-top a {
  transition: 0.5s ease;
}

.employe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: #214d76;
  background-image: linear-gradient(-135deg, #611bdd 0%, #5e87eb 100%);
  transition: all 0.5s ease;
}

.employe-top a {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: all 0.3s;
}

.employe-top .role {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.employe-top:hover .role {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

.employe-top:hover .employe::before {
  opacity: 0.7;
  visibility: visible;
}

.employe-top:hover img {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.employe-top:hover a {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.bg__shape {
  background: radial-gradient(#214d76 2px, transparent 2px);
  background-size: 16px 16px;
}
