@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", system-ui, sans-serif;
  }
  section {
    @apply py-16;
  }
  h1 {
    @apply text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl;
  }
  h2 {
    @apply text-3xl font-bold md:text-4xl;
  }
}

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

/* *{
  scroll-behavior: smooth;
} */

/* Links hover Effect */
.nav-link {
  box-shadow: inset 0 0 0 0 #33bbcf;
  color: #33bbcf;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.nav-link:hover {
  color: #11101d;
  box-shadow: inset 200px 0 0 0 #33bbcf;
}

.active {
  color: #11101d;
  box-shadow: inset 200px 0 0 0 #33bbcf;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.smooth {
  transition: all 0.5s ease;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.bg__purple {
  background: linear-gradient(-135deg, #611bdd 0%, #5e87eb 100%);
}

.bg__orange {
  background: linear-gradient(225deg, #fe7649 0%, #ff2938 100%);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.card-hover {
  cursor: pointer;
  transition: all 0.6s ease;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: #fff;
  color: #454141;
  border-left: 2px solid #5e87eb;
}
.card-hover:hover {
  color: #fff;
}
.card-hover:hover:after {
  width: 100%;
}
.card-hover:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.6s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(-135deg, #611bdd 0%, #5e87eb 100%);
}

.employe-top img {
  transition: 0.5s ease;
}

.employe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: #214d76;
  background-image: linear-gradient(-135deg, #611bdd 0%, #5e87eb 100%);
  transition: all 0.5s ease;
}

.employe-top .role {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.employe-top:hover .role {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

.employe-top:hover .employe::before {
  opacity: 0.7;
  visibility: visible;
}

.employe-top:hover img {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.dash-before::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 12px;
  height: 1px;
  background-color: #ff5723;
}

/* Team Member */
.team-member-inner {
  clip-path: circle(35% at 50% 38%);
  border-radius: 14px;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.team-member-container:hover .team-member-inner {
  clip-path: circle(100% at 50% 38%);
}

.team-member-container:hover h3,
.team-member-container:hover p {
  color: #fff;
}

.overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    360deg,
    rgb(0 0 0/78%) 0%,
    rgb(0 0 0/0%) 50%
  );
}

/* Contact */
.bg-contact {
  background-image: linear-gradient(
      90deg,
      #1d2671 50%,
      rgb(255 41 56 / 50%) 90%
    ),
    url("/contact-us.jpg");
}

.lazy-load-image-loaded {
  width: 100%;
  height: 100%;
}

/* BG Project */
.bg-project {
  background-image: linear-gradient(
      90deg,
      #1d2671 50%,
      rgb(255 41 56 / 50%) 90%
    ),
    url("/project-hero.jpg");
}

/* BG Services */
.bg-service {
  background-image: linear-gradient(90deg, #1d2671 30%, rgb(14 14 14/50%) 90%),
    url("/service-hero.jpg");
}

.service-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 68px;
  background-color: #fff;
}

.service-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 68px;
  background-color: #fff;
}

.service-content h1::after {
  content: "";
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 11rem;
  height: 1px;
  transition: all 0.5s ease;
}

.height__transition {
  transition: opacity 0.3s ease-out, max-height 0.8s ease-out;
}

/* .service-content:hover h1::after {
  width: 11rem;
} */

/* Shapes */

.bg__shape--square {
  background: radial-gradient(#214d76 2px, transparent 2px);
  background-size: 16px 16px;
}

.bg__shape--circle {
  background-image: repeating-linear-gradient(
    -55deg,
    rgba(255, 255, 255, 0) 0.8px,
    #ff5723 1.6px,
    #ff5723 3px,
    rgba(255, 255, 255, 0) 3.8px,
    rgb(255 0 0/0%) 10px
  );
  border-radius: 100px;
}
